Lab2/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- definition of custom types -->
  <xs:simpleType name="soil" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="podzol"/>
      <xs:enumeration value="dirt"/>
      <xs:enumeration value="sod-podzol"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="multiplying" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="leafs"/>
      <xs:enumeration value="seeds"/>
      <xs:enumeration value="cuttings"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stringBoolean" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="words">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z\-]+(\s[a-zA-Z\-]+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positiveDecimal" final="restriction">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nonnegativeDecimal" final="restriction">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- definition of simple elements -->
  <xs:element type="xs:string" name="name"/>
  <xs:element type="soil" name="soil"/>
  <xs:element type="words" name="origin"/>
  <xs:element type="words" name="stemColor"/>
  <xs:element type="words" name="leafColor"/>
  <xs:element type="positiveDecimal" name="meanSize"/>
  <xs:element type="xs:decimal" name="temperature"/>
  <xs:element type="stringBoolean" name="preferLighting"/>
  <xs:element type="nonnegativeDecimal" name="watering"/>
  <xs:element type="multiplying" name="multiplying"/>

  <!-- definition of attributes -->
  <xs:attribute name="id" type="xs:ID"/>

  <!-- definition of complex elements -->
  <xs:element name="visualParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stemColor"/>
        <xs:element ref="leafColor"/>
        <xs:element ref="meanSize"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="growingTips">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="temperature"/>
        <xs:element ref="preferLighting"/>
        <xs:element ref="watering"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="flower">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="soil"/>
        <xs:element ref="origin"/>
        <xs:element ref="visualParameters"/>
        <xs:element ref="growingTips"/>
        <xs:element ref="multiplying"/>
      </xs:sequence>
      <xs:attribute ref="id" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>